$font: "Gill Sans", sans-serif;
$fontcolor1: mediumpurple;
$fontcolor2: white;
$fontcolor3: rgba(87, 73, 95, 0.963);

.containercharacter{
    margin: 0 auto;
    width: 650px;
    text-align: center;

    .tilte{
        font-family: $font;
        color: $fontcolor1;
        text-align: left;
    }
}

.card{
    margin-top: 30px;
    background-color: $fontcolor1;
    height: 250px;
    border-radius: 20px;

        .cardimage{
            max-width: 40.5%;
            float: left;
            border-radius: 20px 0 0 20px;
            border: 10px $fontcolor2;
        }
        .charname{
            float: left;
            color: $fontcolor2;
            font-family: $font;
            font-size: 20px;
        }
        
        .more{   
            float: left;        
            margin-top: 210px;
            margin-left: 340px;
            font-family: $font;
            font-size: 30px;
            color: $fontcolor2;
            text-decoration: none; 
        }
        .cardinfo{
            position: absolute; 
            margin-top: 10px;
            margin-left: 240px;
            padding: 1em;
            text-align: left;
            border-spacing: 10px;font-family: $font;
        }
        .charninfotitre{
            max-width: 50%;
            color: $fontcolor2;  
            font-weight: bold;
        }   
        .charninfo{
            max-width: 50%;
            color: $fontcolor2;
        }
}

.containerpagination{
    text-align: center;
    .pagination__pgnumber {
        cursor: pointer;
        display: inline-block;
        font-family: $font;
        color: $fontcolor1;
        padding: 0.4em;
        text-decoration: none;
        width: 20px;
        margin: 10px;
        border: solid 2px $fontcolor1;
        border-radius: 200px;
      }
      .pagination__pgnumber:hover {
        background-color: $fontcolor1;
        color: $fontcolor2
      }
}
