$font: "Gill Sans", sans-serif;
$fontcolor1: mediumpurple;
$fontcolor2: white;
$fontcolor3: rgba(87, 73, 95, 0.963);
$fontcolor4: rgb(146, 109, 219);

.searchContainer{
  margin: 0 auto;
  text-align: center;
  .searchBar {
    border: 2px solid $fontcolor1;
    border-radius: 4px;
    width: 400px;
    height: 35px;
    border-radius: 20px;
    color: $fontcolor1;
    padding: 0.4em;
  }
}

.resultcontainer{
  margin-top: 40px;
  text-align: center;
    .infochar{
      margin: 0 auto;
    }
}
